body {
  background-image: url("https://www.surfer.com/wp-content/uploads/2015/08/CraigRod.jpg");
  color: darkslategrey;
  font-family: 'mansalva', sans-serif;
  font-size: 17px;
}

h1 {
  font-family: '', sans-serif;
}